p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.character-img {
  width: 175px;
  height: 175px;
  border-radius: 20px;
  margin-bottom: 15px;
}
#characters-container {
  display: flex;
  gap: 50px;
}
.character-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #acadbc;
  border: 5px solid #454545;
  border-radius: 20px;
  width: 215px;
  height: 400px;
  justify-content: center;
  align-items: center;
}
